<p id="notice"><%= notice %></p>

<p>
  <strong>Codr:</strong>
  <%= image_tag @comment.user.avatar_url, size: "32x32", alt: @comment.user.username %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Edited:</strong>
  <%= @comment.edited %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
