<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :cohort %>
    <%= form.radio_button :cohort, "Brisbane" %>
    <%= label :cohort, 'Brisbane', value: 'Brisbane' %>
    <%= form.radio_button :cohort, "Melbourne" %>
    <%= label :cohort, 'Melbourne', value: 'Melbourne' %>
    <%= form.radio_button :cohort, "Sydney" %>
    <%= label :cohort, 'Sydney', value: 'Sydney' %>
  </div>

  <div class="field">
    <%= form.label :point %>
    <%= form.number_field :point %>
  </div>

  <div class="field">
    <%= form.label :github %>
    <%= form.text_field :github %>
  </div>

  <div class="field">
    <%= form.label :linked_in %>
    <%= form.text_field :linked_in %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
