<!--- <p id="notice"><%# notice %></p> --->

<h1 class='container-fluid mb-0 mt-0'>Codrs</h1>

<h2>Brisbane Cohort</h2>

<table class='container-fluid table-responsive table-striped table-bordered table-hover'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Cohort</th>
      <th>Avatar</th>
      <th>Github</th>
      <th>Linked in</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user.cohort == "Brisbane" %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.cohort %></td>
        <td><%= image_tag user.avatar_url, size: "32x32", alt: user.username %></td>
        <td><%= user.github %></td>
        <td><%= user.linked_in %></td>
        <td><%= link_to 'Show', user %></td>
        <% if user_signed_in? and user.id == current_user.id %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Melbourne Cohort</h2>

<table class='container-fluid table-responsive table-striped table-bordered table-hover'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Cohort</th>
      <th>Avatar</th>
      <th>Github</th>
      <th>Linked in</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user.cohort == "Melbourne" %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.cohort %></td>
        <td><%= image_tag user.avatar_url, size: "32x32", alt: user.username %></td>
        <td><%= user.github %></td>
        <td><%= user.linked_in %></td>
        <td><%= link_to 'Show', user %></td>
        <% if user_signed_in? and user.id == current_user.id %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Sydney Cohort</h2>

<table class='container-fluid table-responsive table-striped table-bordered table-hover'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Cohort</th>
      <th>Avatar</th>
      <th>Github</th>
      <th>Linked in</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user.cohort == "Sydney" %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.cohort %></td>
        <td><%= image_tag user.avatar_url, size: "32x32", alt: user.username %></td> %>
        <td><%= user.github %></td>
        <td><%= user.linked_in %></td>
        <td><%= link_to 'Show', user %></td>
        <% if user_signed_in? and user.id == current_user.id %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Unassigned Cohort</h2>

<table class='container-fluid table-responsive table-striped table-bordered table-hover'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Cohort</th>
      <th>Avatar</th>
      <th>Github</th>
      <th>Linked in</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if not (user.cohort == "Brisbane" or user.cohort == "Melbourne" or user.cohort == "Sydney") %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.cohort %></td>
        <td><%= image_tag user.avatar_url, size: "32x32", alt: user.username %></td>
        <td><%= user.github %></td>
        <td><%= user.linked_in %></td>
        <td><%= link_to 'Show', user %></td>
        <% if user_signed_in? and user.id == current_user.id %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= render "shared/topnavbar" %>

