<section class="navbar2">

<%# if we end up getting these pages workign we will just delete all this %>

<%# <% if user_signed_in? %>
        <%= link_to "Home", posts_path %>
        <%= link_to "Search", search_path %>
        <%= link_to "Codrs", codrs_path %>
        
        <%= link_to "Profile", profile_path %>
        <%= link_to "Community", community_path %>
        <%= link_to "Chatroom", chatroom_path %>
        <%= link_to "Rules & Guidelines", guidelines_path %>
<%# <% else %>
        <%# <%= link_to "Login", new_user_session_path %>
        <%# <%= link_to "Sign up", new_user_registration_path %> 
<%# <% end %>
</section>



