<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Edited:</strong>
  <%= @post.edited %>
</p>

<p>
  <strong>Time:</strong>
  <%= @post.time %>
</p>

<%= image_tag @post.picture, width: "100" if @post.picture.attached?   %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
