<!DOCTYPE html>
<html>
  <head>
    <title>CodrAcademy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# might want to delete this %>
  <%= render "shared/navbar2" %>
  <%= render "shared/topnavbar" %>

    <p class="test notice"><%= notice %></p>
    <p class="test alert"><%= alert %></p>

    <h1>codr.academy</h1>
    <%= yield %>
  </body>
</html>
